@charset "UTF-8";

@import "general/functions";
@import "general/config";
@import "general/mixins";

// imports should be organized in the order
// from the most common to the most specific styles

@import "general/base";

@import "components/spinkit";
@import "components/progress";
@import "components/forms";
@import "components/buttons";
@import "components/card";
@import "components/toggle-checkbox";
@import "components/option-checkbox";
@import "components/checkbox-list";
@import "components/question-form";
@import "components/practice-setup-form";

@import "components/layout";
@import "components/app";
@import "components/breadcrumbs";

@import "components/other";
