//
// Cards
// --------------------------------------------------

.card-grid {
	display: grid;
	grid-gap: 1rem;
	margin: 0 0 1rem 0;
	grid-template-columns: 1fr;

	@media (min-width: $sm) {
		// grid-template-columns: repeat(2, 1fr); // verify support?
		grid-template-columns: 1fr 1fr;

	}

	@media (min-width: $lg) {
		// grid-template-columns: repeat(3, 1fr); // verify support?
		grid-template-columns: 1fr 1fr 1fr;
	}

}

.card {
	display: block;
	border: 1px solid $gray-lighter;
	padding: 1rem;

	.card-heading {
		margin: 0 0 1rem 0;

		> .heading, > .description {
			margin: 0;
			padding: 0;
		}
	}

	.card-content {
		margin: 0 0 1rem 0;
		color: $gray-light;
	}

	.card-actions {
		> a:not(:last-child) {
			margin-right: 1rem;
		}
	}

}
