//
// Other (more specific) components
// --------------------------------------------------

.package {

	.package-details {
		margin: 0 0 1rem 0;
	}

	.package-last-practice {
		margin: 0 0 .25rem 0;
	}

}

.package-content {
	margin: 0 0 1rem 0;
}

.package-actions {
	margin: 0 0 1rem 0;

	.btn:not(:last-child) {
		margin: 1rem 0 0 0;
	}

}

.questions-list {
	margin: 0;
	padding: 0;
	list-style-type: decimal;

	.question {
		list-style-position: inside;
		margin: 0 0 1rem 0;

		&::marker {
			font-weight: 500;
		}

		.question-text {
			font-weight: 500;
		}

		.question-choices {
			font-weight: normal;

			margin: .25rem 0 0 1rem;
			padding: 0;
			list-style-type: lower-alpha;

			.question-choice {

				&.question-choice--correct {
					color: $state-success-text;
					background-color: $state-success-bg;
					// font-weight: 500;
				}

			}

		}

	}

}

// NOTE: this is just for testing (see another.html)
.editor {

	#canvas {
		position: relative;
		width: 500px;
		height: 500px;
		background: #b0f1fd;
	}

	.box {
		position: absolute;
		background: red;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
	}

	#b1 {
		top: 0;
		left: 0;
	}

	#b2 {
		bottom: 0;
		right: 0;
	}

}
