//
// Question form
// --------------------------------------------------

.question-form {
	display: block;
	margin: 0 0 1rem 0;

	.question-note {
		text-align: right;
		opacity: .8;
		font-size: .875rem;
		margin: 0 0 .75rem 0;
	}

	.question-text {
		margin: 0 0 1rem 0;
	}

	.question-choices {
		display: block;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.question-choice {
		display: flex;
		background-color: $gray-lighter;
		cursor: pointer;
		padding: 1rem;
		margin: 0 0 1rem 0;
		transition: background-color ease-in-out .1s;

		kbd {
			margin: 0 0 0 0.5rem;
		}

		.question-choice-checkbox {
			// note: it has also class option-checkbox
		}

		.question-choice-label {
			flex: 1;
			display: block;
			margin: 0;
			font-weight: normal;
			cursor: pointer;
		}

		&:hover {
			background-color: darken($gray-lighter, 10%);
		}

		&.question-choice--selected {
			background-color: $state-info-bg;

			&:hover {
				background-color: darken($state-info-bg, 10%);
			}
		}

		&.question-choice--correct, &.question-choice--wrong {
			&, .question-choice-label {
				cursor: default;
			}
		}

		&.question-choice--correct, &.question-choice--selected.question-choice--correct {
			&, &:hover {
				background-color: $state-success-bg;
			}
		}

		&.question-choice--wrong, &.question-choice--selected.question-choice--wrong {
			&, &:hover {
				background-color: $state-danger-bg;
			}
		}

	}

	.question-validation-message {
		margin: 1rem 0;
	}

}
